h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

#header {
    background-color: blue;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding: 5px;
    margin: 5px;
    border-radius: 10px 10px 0px 0px;
}

#logo {
    display: flex;
    align-self: flex-start;
    background-color: red;
    height: 34px;
    width: 250px;
    padding: 2px;
    margin: 5px auto 5px 5px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    background-color: green;
    height: auto;
    width: auto;
    margin: 5px 5px 5px auto;
    justify-content: space-around; 
    padding: 2px;
}

.nav-link {
    background-color: yellow;
    height: 24px;
    width: auto;
    text-align: center;
    margin: 5px;
}

#main-content{
    display: flex;
    flex-direction: column;
    background-color: orange;
    padding: 5px;
    margin: 5px;
}

#video-frame {
    display: flex;
    background-color: aqua;
    flex-direction: column;
    margin: 5px;
}

#video {
    display: flex;
    align-self: center;
    margin: 5px 0px 5px 0px;
}

#products {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    margin: 5px;
}

#stories {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    margin: 5px;
}

#newsletter {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    margin: 5px;
}

#prices {
    display: flex;;
    flex-direction: row;
    justify-content: space-around;
}

.products {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aqua;
    margin: 5px;
    width: 100%;
}

#footer {
    display: flex;
    align-items: flex-start;
    background-color: teal;
    padding: 5px;
    margin: 5px;
    border-radius: 0px 0px 10px 10px;
}