#page-header {
    background-color: blue;
    height: 24px;
    display: flex;
    flex-direction: row;
}

#logo {
    display: flex;
    background-color: red;
    height: 70%;
    width: 20%;
    padding-top: 10px;
}

#links {
    display: flex;
    background-color: green;
    height: 24px;
}