:root {
    --bg-color: hsla(34, 100%, 70%, 0.7);
    }

body {
    margin: 0;
}

#page-background {
    background-image: url("https://www.flpuppiesonline.com/wp-content/uploads/sites/5/river1.jpg");
    background-size: 100em;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

#header {
    position: fixed;
    align-self: center;
    width: 90%;
    top: 1;
    background-color: var(--bg-color);
    height: auto;
    display: flex;
    align-items: flex-start;
    margin: 5px;
    border-radius: 10px 10px 0px 0px;
}

#logo {
    display: flex;
    flex-direction: row;
    background-color: red;
    align-items: center;
    font-size: 30px;
    height: 34px;
    width: 250px;
    padding: 2px;
    margin: 5px auto 5px 5px;
}

#header-img {
    height: 34px;
    width: 34px;
    display: flex;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    background-color: green;
    height: auto;
    width: auto;
    margin: 5px 5px 5px auto;
    justify-content: space-around; 
    padding: 2px;
}

.nav-bg {
    background-color: yellow;
    height: 24px;
    width: auto;
    text-align: center;
    margin: 5px;
}

#main-content{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 50px 5px 5px 5px;
    margin: 5px;
    width: 90%;
}

#video {
    display: flex;
    align-self: center;
    margin: 5px 0px 5px 0px;
}

.content-block {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    margin: 5px 0px 5px 0px;
    padding: 0px 10px 0px 10px;
}

#prices {
    display: flex;;
    flex-direction: row;
    justify-content: space-around;
}

.products {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--bg-color);
    margin: 5px;
    width: 100%;
}

#footer {
    display: flex;
    align-items: flex-start;
    background-color: var(--bg-color);
    padding: 5px;
    margin: 5px 0px 5px 0px;
    border-radius: 0px 0px 10px 10px;
}

#form-label {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 5px;
}

#email {
    display: flex;
    align-self: center;
}

@media (max-width: 685px){
    #header {
        width: 685px;
    }

    #main-content {
        width: 685px;
    }
}